/* Estilos generales para el cuerpo del documento y los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para el cuerpo del documento */
body {
    height: 100vh; /* Altura del cuerpo al 100% de la ventana del navegador */
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    background-image: url(img/fondo.jpg); /* Establece una imagen de fondo */
    background-position: center; /* Posición de la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    background-size: cover; /* Escalar la imagen de fondo para cubrir el contenedor */
    color: #fff; /* Color de texto */
}

/* Estilos para el contenedor principal del formulario */
.container-form {
    width: 90%; /* Ancho del contenedor al 90% del ancho de su contenedor principal */
    height: 90vh; /* Altura del contenedor al 90% de la altura de la ventana */
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    transition: all .5s ease-out; /* Agrega una transición suave a todos los cambios de estilo */
}

/* Estilos para el mensaje de bienvenida */
.welcome-back {
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para los mensajes */
.message {
    padding: 1rem; /* Agrega relleno alrededor del mensaje */
}

/* Estilos para los encabezados dentro de los mensajes */
.message h2 {
    font-size: 1.4rem; /* Tamaño de fuente */
    padding: 1rem 0; /* Agrega relleno superior e inferior */
}

/* Estilos para los botones dentro de los mensajes */
.message button {
    padding: 1rem; /* Tamaño del relleno */
    font-weight: 400; /* Grosor de la fuente */
    background-color: #37a8fe; /* Color de fondo */
    border-radius: 2rem; /* Radio de borde */
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: .9rem; /* Tamaño de fuente */
    margin-top: 2rem; /* Margen superior */
    transition: all .3s ease-in; /* Transición suave */
    color: #fff; /* Color del texto */
}

/* Cambia el color de fondo del botón cuando se pasa el cursor sobre él */
.message button:hover {
    background-color: #2b83c6;
}

/* Estilos para el formulario */
.formulario {
    width: 400px; /* Ancho del formulario */
    padding: 2rem; /* Tamaño del relleno */
    margin: .3rem; /* Margen exterior */
    background-color: rgba(51, 51, 51, 0.602); /* Color de fondo */
    text-align: center; /* Alinea el contenido al centro */
}

/* Estilos para la sección de crear cuenta */
.create-account {
    padding: 2rem 0; /* Tamaño del relleno */
    font-size: 1.7rem; /* Tamaño de fuente */
}

/* Estilos para los iconos */
.iconos {
    width: 200px; /* Ancho del contenedor de iconos */
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-around; /* Distribuye uniformemente los elementos */
    margin: auto; /* Centra horizontalmente los elementos */
}

/* Estilos para los iconos con borde */
.border-icon {
    height: 20px; /* Altura */
    width: 20px; /* Ancho */
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    padding: 1.5rem; /* Tamaño del relleno */
    border: solid thin white; /* Borde sólido delgado */
    border-radius: 50%; /* Radio de borde */
    font-size: 1.5rem; /* Tamaño de fuente */
    transition: all .3s ease-in; /* Transición suave */
}

/* Cambia el color de fondo del icono con borde cuando se pasa el cursor sobre él */
.border-icon:hover {
    background-color: #37a8fe;
    cursor: pointer; /* Cambia el cursor a mano */
}

/* Estilos para la sección de cuenta gratis */
.cuenta-gratis {
    padding: 1rem 0; /* Tamaño del relleno */
}

/* Estilos para los campos de entrada dentro del formulario */
.formulario input {
    width: 70%; /* Ancho del campo de entrada al 70% */
    display: block; /* Muestra como un bloque */
    margin: auto; /* Centra horizontalmente */
    margin-bottom: 2rem; /* Margen inferior */
    background-color: transparent; /* Color de fondo transparente */
    border: none; /* Elimina el borde */
    border-bottom: white thin solid; /* Borde inferior delgado blanco */
    text-align: center; /* Alinea el texto al centro */
    outline: none; /* Elimina el contorno */
    padding: .2rem 0; /* Tamaño del relleno */
    font-size: .9rem; /* Tamaño de fuente */
    color: white; /* Color de texto */
}

/* Estilos para el botón de tipo entrada dentro del formulario */
.formulario input[type="button"] {
    width: 60%; /* Ancho del botón al 60% */
    margin: auto; /* Centra horizontalmente */
    border: solid thin white; /* Borde sólido delgado */
    padding: .7rem; /* Tamaño del relleno */
    border-radius: 2rem; /* Radio de borde */
    background-color: white; /* Color de fondo */
    font-weight: 600; /* Grosor de la fuente */
    margin-top: 2rem; /* Margen superior */
    font-size: .8rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor a mano */
    color: #222; /* Color de texto */
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    /* Añade aquí tus ajustes de estilo específicos para dispositivos móviles */
    .container-form {
        width: 95%; /* Cambiado para ocupar el 95% del ancho del contenedor padre en dispositivos móviles */
    }
    .formulario {
        max-width: 100%; /* Cambiado para ocupar el 100% del ancho del contenedor padre en dispositivos móviles */
    }
}

/* Media queries para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Añade aquí tus ajustes de estilo específicos para pantallas medianas */
    .container-form {
        width: 80%; /* Cambiado para ocupar el 80% del ancho del contenedor padre en pantallas medianas */
    }
    .formulario {
        max-width: 80%; /* Cambiado para ocupar el 80% del ancho del contenedor padre en pantallas medianas */
    }
    .iconos {
        max-width: 300px; /* Ancho máximo de los iconos en pantallas medianas */
    }
}

/* Estilos para el formulario de inicio de sesión */
.sign-in {
    position: absolute; /* Posicionamiento absoluto */
    opacity: 0; /* Opacidad inicial a 0 */
    visibility: hidden; /* Visibilidad inicial a oculto */
}

/* Estilos para el formulario de registro */
.sign-up.active {
    opacity: 0; /* Opacidad a 0 */
    visibility: hidden; /* Visibilidad a oculto */
}

/* Estilos para el formulario de inicio de sesión */
.sign-in.active {
    opacity: 1; /* Opacidad a 1 */
    visibility: visible; /* Visibilidad a visible */
}